language: elixir
elixir: '1.5.3'
otp_release: '20.0'
env:
  - MIX_ENV=test

script:
  - mix coveralls.html
  - mix credo --strict

matrix:
  include:
    - elixir: '1.3.4'
      otp_release: '18.3'

    - elixir: '1.3.4'
      otp_release: '19.3.6'

    - elixir: '1.4.5'
      otp_release: '18.3'

    - elixir: '1.4.5'
      otp_release: '19.3.6'

    - elixir: '1.4.5'
      otp_release: '20.0'

    - elixir: '1.5.3'
      otp_release: '19.3.6'
